<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Imobili_Image_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Imobili_Image_Downloader.Properties.Settings>
            <setting name="position" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="logo" serializeAs="String">
                <value />
            </setting>
            <setting name="transparency" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="addLogo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </Imobili_Image_Downloader.Properties.Settings>
    </userSettings>
</configuration>